body {
  background-image: linear-gradient(to bottom, black, #100015);
}

h1 {
  font-family: BetterVCR, monospace;
  color: White;
  text-align: Center;
  font-size: 30px;
}
h2 {
  font-family: Roboto Mono, monospace;
  color: White;
  text-align: Center;
  font-size: 25px;
}
h3 {
  font-family: Roboto Mono, monospace;
  color: White;
  text-align: Center;
  font-size: 20px;
}
h4 {
  font-family: Roboto Mono, monospace;
  color: #005EBC;
  text-align: Center;
  font-size: 25px;
}
h5 {
  font-family: Roboto Mono, monospace;
  color: #8137CE;
  text-align: Center;
  font-size: 25px;
}
h6 {
  font-family: Roboto Mono, monospace;
  color: #EFC01A;
  text-align: Center;
  font-size: 25px;
}
p {
  font-family: Roboto Mono, monospace;
  color: White;
  text-align: Center;
  font-size: 15px;
}

footer {
  font-family: Roboto Mono, monospace;
  color: White;
  text-align: Center;
  font-size: 10px;
}

img {
  display: block;
  margin: auto;
}

iframe {
  display: block;
  margin: auto;
}

code {
  font-family: Roboto Mono, monospace;
  color: #008080;
  font-size: 15px;
}
