body {
  background-image: linear-gradient(to bottom, black, #100015);
}

h1 {
  font-family: Roboto Mono, monospace;
  color: White;
  text-align: Center;
  font-size: 30px;
}
h2 {
  font-family: Roboto Mono, monospace;
  color: White;
  text-align: Center;
  font-size: 25px;
}
h3 {
  font-family: Roboto Mono, monospace;
  color: White;
  text-align: Center;
  font-size: 20px;
}

p {
  font-family: Roboto Mono, monospace;
  color: White;
  text-align: Center;
  font-size: 15px;
}

footer {
  font-family: Roboto Mono, monospace;
  color: White;
  text-align: Center;
  font-size: 10px;
}

img {
  display: block;
  margin: auto;
}

iframe {
  display: block;
  margin: auto;
}

table, td {
  border: 0px;
  border-collapse: collapse;
  margin: auto;
  font-family: Roboto Mono, monospace;
  color: White;
  text-align: Center;
  font-size: 15px;
}
th {
  border: 0px;
  border-collapse: collapse;
  margin: auto;
  font-family: Roboto Mono, monospace;
  color: White;
  text-align: Center;
  font-size: 20px;
}
